<div class="columns is-variable is-8 ">
    <div class="column move is-hidden-touch is-hidden-desktop-only">
       <div class="text ml-6 pl-6 pt-6 mt-6">
         <p>More than just </p>
         <p class="txt">shorter links</p>
         <p class="small-txt is-size-5 mb-6 mt-1">Build your brand's recognition and get detailed</p>
         <p class="small-text is-size-5">insights on how your links are performing.</p>
         <button class="button has-text-white is-rounded is-medium ">Get Started</button>
       </div>
    </div>
    <div class="column img ml-6 pl-6 ">
        <img src="assets/illustration-working.svg"
        width="600px"
        />
    </div>
</div>
