<div class="bg-color mt-6 pt-4">
    <div class="text has-text-centered">
        <p class="title has-text-centered">Advanced Statistics</p>
        <p class="sub mb-1">Track how your links are performing across the web with</p>
        <p class="sub">our advanced statistics dashboard.</p>
    </div>
    <div class="columns mt-6 pt-6 ml-6 pl-6 is-hidden-touch">
        <div class="column ">
            <div class="box">
                <img class= "box-img  ml-5" src="/assets/icon-brand-recognition.svg"/>
                <p class="txt pb-3 pl-3 is-size-4"><strong>{{title1}}</strong></p>
                <p class="txt pl-3">{{textA}}</p>
                <p class="txt pl-3">{{textB}}</p>
                <p class="txt pl-3">{{textC}}</p>
                <p class="txt pl-3">{{textC1}}</p>
            </div>
        </div>
        <div class="column mt-6">
            <div class="box">
                <img class= "box-img ml-5" src="assets/icon-detailed-records.svg"/>
                <p class="txt pb-3 pl-3 is-size-4"><strong>{{title2}}</strong></p>
                <p class="txt pl-3">{{textD}}</p>
                <p class="txt pl-3">{{textE}}</p>
                <p class="txt pl-3">{{textF}}</p>
                <p class="txt pl-3">{{textG}}</p>
            </div>
        </div>
        <div class="column mt-6">
            <div class="box mt-6">
                <img class= "box-img  ml-5" src="assets/icon-fully-customizable.svg"/>
                <p class="txt pb-3 pl-3 is-size-4"><strong>{{title3}}</strong></p>
                <p class="txt pl-3">{{textH}}</p>
                <p class="txt pl-3">{{textI}}</p>
                <p class="txt pl-3">{{textJ}}</p>
                <p class="txt pl-3">{{textK}}</p>
            </div>
        </div>
    </div>
    <div class="columns is-centered mt-6 pt-6 ml-6 is-hidden-tablet">
        <div class="column">
            <div class="box">
                <img class= "box-img left ml-5" src="/assets/icon-brand-recognition.svg"/>
                <p class="txt pb-3 pl-3 is-size-4"><strong>{{title1}}</strong></p>
                <p class="txt pl-3">{{textA}}</p>
                <p class="txt pl-3">{{textB}}</p>
                <p class="txt pl-3">{{textC}}</p>
                <p class="txt pl-3">{{textC1}}</p>
            </div>
        </div>
        <div class="column mt-6">
            <div class="box">
                <img class= "box-img left ml-5" src="assets/icon-detailed-records.svg"/>
                <p class="txt pb-3 pl-3 is-size-4"><strong>{{title2}}</strong></p>
                <p class="txt pl-3">{{textD}}</p>
                <p class="txt pl-3">{{textE}}</p>
                <p class="txt pl-3">{{textF}}</p>
                <p class="txt pl-3">{{textG}}</p>
            </div>
        </div>
        <div class="column mt-6">
            <div class="box mt-6">
                <img class= "box-img left ml-5" src="assets/icon-fully-customizable.svg"/>
                <p class="txt pb-3 pl-3 is-size-4"><strong>{{title3}}</strong></p>
                <p class="txt pl-3">{{textH}}</p>
                <p class="txt pl-3">{{textI}}</p>
                <p class="txt pl-3">{{textJ}}</p>
                <p class="txt pl-3">{{textK}}</p>
            </div>
        </div>
    </div>
</div>
