:root {
  background-color: hsl(218, 28%, 15%);
  font-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  font-family: 'Raleway' , sans-serif;
  font-weight: 400;
}
main{
  font-family: 'Open Sans', sans-serif;
  }
button{
  max-width: 300px;
background-color: cyan;
}
.bg-img{
background-image: url(/bg-curvy-mobile.svg);
background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  
}
.bgd-img{
  background-image: url(/bg-curvy-desktop.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.bgm-img{
  background-image: url(/bg-curvy-mobile.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.buts{
  max-width: 300px;
  background-color: cyan;
}
.second{
  background-color:hsl(218, 28%, 13%);
}

.class{
  background-color: hsl(217, 28%, 15%);
  max-width: 800px;
}
.sign-up{
border-radius: 33px;
width: 400px;
}
.get{
max-width: 400px;
}
.footer{
  background-color:  hsl(216 , 53%, 9%);
}
.cards{
position: relative;bottom: 75px;
}
article{
  position: relative;bottom: 22rem;
}
.lo{
  position: relative;top: 8px;
}
.lo-1{
  position: relative;top: 8px; right: 15px
}
.arw{
  position: relative;top: 3px;
}
.link{
  border-bottom: 1px solid cyan;
  color: cyan;
  padding-bottom: 3px;
  
}
.part-1{
  position: relative;bottom: 40px;
}
.txt-1{
font-weight: 700;
}
