<div class="navbar">
  <div class="navbar-brand ml-6 mt-5 pl-6">
    <img class="brand mt-4"
    src="assets/logo.svg"
    width="120px"
    />
  </div>
  <div class="navbar-menu">
    <div class="navbar-start pl-5 mt-5">
        <div class="navbar-item">
           <a>Features</a>
        </div>
        <div class="navbar-item">
           <a>Pricing</a>
        </div>
        <div class="navbar-item">
           <a>Resources</a>
        </div>
    </div>
    <div class="navbar-end end mt-5 mr-6 pr-6">
        <div class="navbar-item">
           <a>Login</a>
        </div>
        <div class="navbar-item">
           <button class="button  is-rounded"
           (click)="openModal">
            Sign Up
           </button>
        </div>
    </div>
  </div>
</div>

